.container {
    display: flex;
    flex-direction: column-reverse;
}

.left, .right {
    margin-block: 1rem;
}

.image {
    aspect-ratio: 1/1;
    position: relative;
}

@media only screen and (min-width: 550px) and (max-width:767px) {
    .image {
        margin-inline: 20%;
    }
}

/*Desktop*/
@media only screen and (min-width: 768px) {
    .content {
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }

    .container {
        flex-direction: row;
        margin-block: 1rem;
    }

    .reverse {
        flex-direction: row-reverse;
    }

    .image {
        margin-inline: 0;
        align-self: center;
    }

    .right {
        margin-right: 2.5rem;
    }

    .left {
        margin-left: 2.5rem;
    }
}
