.container {
    background-color: var(--text-color);
    color:var(--background-color);
    width: 100%;
    padding: 0 1rem;
    border-radius: var(--border-radius);
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 0;
}

.question path {
    stroke:var(--background-color)
}

.icon {
    display: flex;
    margin-left: 0.5em;
}

.answerContainer {
    overflow: hidden;
    font-size: 1rem;
    font-weight: normal;
    letter-spacing: normal;
    line-height: calc(1em + 1ex);
}
