.container {
    background-color: var(--text-color);
    color:var(--background-color);
    width: 100%;
    padding: 0 18px;
    border-radius: var(--border-radius);
    margin-top: 1em;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.2em 0;
}

.question path {
    stroke:var(--background-color)
}

.icon {
    display: flex;
    margin-left: 0.5em;
}

.answerContainer {
    overflow: hidden;
}
