.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--footer-background-color); 
    padding: 4rem var(--padding-inline);
    margin-top: 2rem;
}

.container span {
    margin-block: 1.5rem;
}

.title {
    font-size: 1.2em;
}

.email {
    text-decoration: none;
    color: inherit;
}

.arrowup {
    margin-top: 1.5rem;
}

.arrowup svg {
    fill: var(--text-color)
}
