.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #081b31 0%, black 100%);
    padding:  0px 1em 2.5em; 
}

.title {
    font-size: 1.2em;
}
.email {
    text-decoration: none;
    color: inherit;
}

.arrowup {
    margin-top: 0.5em;
}

