.container {
    display: flex;
    justify-content: center;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    width: 50%;
}

.gridItem {
    padding: 1rem;
    text-align: center;
    position: relative;
    height: 10vh;
}

.img {
    width: 100px;
}

.title {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
}