.container {
    max-width: 1920px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 1.5em;
}

.gridItem {
    position: relative;
    aspect-ratio: 16/9;
    margin: 1em;
}

/*Tablet*/
@media only screen and (min-width: 640px) {
    .container {
        grid-template-columns: repeat(2, 1fr)
    }
}

/*Desktop */
@media only screen and (min-width: 1024px) {
    .container {
        grid-template-columns: repeat(3, 1fr)
    }
}

/*Desktop */
@media only screen and (min-width: 1536px) {
    .container {
        grid-template-columns: repeat(4, 1fr)
    }
}

