.container {
    display: flex;
    flex-direction: column;
}

.leftContent {
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
    width: 100%;
    aspect-ratio: 1/1;
}

.image {
    object-fit: contain;
}


.rightContent {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.title {
    margin: 0;
}

.date {
    display: flex;
    align-items: center;
    margin-top: 0.3rem;
}

.icon {
    margin-right: 0.4rem;
}


/*Desktop*/
@media only screen and (min-width: 1024px) {
    .container {
        flex-direction: row;
        margin-block: 2.5rem;
    }

    .leftContent {
        margin-bottom: 0;
        margin-right: 2rem;
    }
}