.image {
    object-fit: contain;
    border-radius: calc(var(--border-radius) * 2)
}

.title {
    margin: 0;
}

.date {
    display: flex;
    align-items: center;
    margin-top: 0.3rem;
}

.icon {
    margin-right: 0.4rem;
}
