/*
The main css files where the default behavior of the website will be set.
Also every component can use the classes defined in here.
*/

:root {
  --ww-color:#00a6ce;
  --background-color: #081b31;
  --text-color:#FFFFFF;
  --link-color: #85CEFF;
  --border-radius: 3px;
  --sky-color: linear-gradient(to bottom, #00a6ce 0%, #f0f9ff 100%);
  /*--sky-color: linear-gradient(to bottom, #f0f9ff 0%, #bfdbfe 100%);*/
  --footer-background-color: linear-gradient(to bottom, #081b31 0%, black 100%);
  /*--menu-background-color: linear-gradient(0deg, rgba(8,27,49,0.75) 0%, rgba(0,0,0,0.75) 100%);*/
  --menu-background-color:rgba(8, 27, 49, 0.8);
  --menu-mobile-background-color:linear-gradient(0deg, rgba(8,27,49,1) 0%, rgba(0,0,0,1) 100%);
  --code-background: rgba(175,184,193,0.2);
  --max-width:calc(40em + 40ex);
  --padding-inline:calc(1em + 1ex);
}

* {
  box-sizing: border-box;
}

html {
  word-wrap: break-word;
  line-height: calc(1em + 1ex);
  font-kerning: normal;
}

body {
    font-family: 'Helvetica','Helvetica Neue','SF Pro Text', 'SF Pro Icons',
      'Arial', sans-serif;
    /*
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
                Oxygen, Ubuntu, Cantarell, 'Open Sans', 
                'Helvetica Neue', sans-serif;
    */
    margin:0;
    background-color: var(--background-color);
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*Remove google translate bar*/
body > .skiptranslate {
  display: none;
}

h1,h2,h3,h4,h5,h6,strong,th {
  font-weight: 700;
  line-height: calc(1em + .4ex);
  margin-block:calc(.4em + .4ex);
  letter-spacing: .0125em;
}

h1, h2 {
  font-size: clamp(2.5em, 1.3vw + 2.5em, 3.8em);
  letter-spacing: -.0125em;
}

h3 {
  font-size: clamp(1.6em, 1vw + 1.6em, 2.3em);
}

h4 {
  font-size: clamp(1.4em, 1vw + 1.4em, 1.7em);
}

h5 {
  font-size: clamp(1.2em, 1vw + 1.2em, 1.3em);
}

h6 {
  font-size: 1em;
}

hr {
  color: var(--text-color);
}

button {
  all: unset;
  cursor: pointer;
}

p {
  margin-block: calc(1em + 1ex);
}

a {
  color: var(--link-color);
}

code {
  font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  padding: 0.2em 0.4em;
  margin:0;
  font-size: 85%;
  border-radius: 6px;
  background-color: var(--code-background);
}

/*Desktop, Tablet*/
@media only screen and (min-width: 640px) {
  html {
    font-size: 1.125em;
  }
}
